# ===============================
# Secrets
# ===============================
.env

# ===============================
# Virtual Environments
# ===============================
.venv/

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Build / Packaging
# ===============================
build/
dist/
*.egg-info/
